@using Laboratorium3.Models
@model Car
<h2>Utworz nowy pojazd</h2>
<form asp-action="CreateCar" asp-controller="Car" method="post">
    @*<div asp-validation-summary="All"></div>*@
    <div>
        Dane samochodu:
        <div>
            <label asp-for="Priority"></label>
            <select class="form-control" asp-for="Priority" asp-items="@Html.GetEnumSelectList<Priority>()"></select>
            <div>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
        </div>
        <div>
            <label asp-for="Model"></label>
            <input class="form-control" type="text" asp-for="Model" />
            <div>
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div>
            <label asp-for="Producer"></label>
            <input class="form-control" type="text" asp-for="Producer" />
            <div>
                <span asp-validation-for="Producer" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div>
            <label asp-for="EngineCapacity"></label>
            <input class="form-control" type="number" asp-for="EngineCapacity" step="0.1"/>
            <div>
                <span asp-validation-for="EngineCapacity" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div>
            <label asp-for="EnginePower"></label>
            <input class="form-control" type="number" asp-for="EnginePower"/>
            <div>
                <span asp-validation-for="EnginePower" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div>
            <label asp-for="EngineType"></label>
            <input class="form-control" type="text" asp-for="EngineType" />
            <div>
                <span asp-validation-for="EngineType" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div>
            <label asp-for="LicensePlateNumber"></label>
            <input class="form-control" type="text" asp-for="LicensePlateNumber" />
            <div>
                <span asp-validation-for="LicensePlateNumber" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <br>
        Dane kontaktowe wlasciciela:
        <div>
            <label asp-for="Owner.FirstName"></label>
            <input class="form-control" type="text" asp-for="Owner.FirstName" />
            <div>
                <span asp-validation-for="Owner.FirstName" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div>
            <label asp-for="Owner.LastName"></label>
            <input class="form-control" type="text" asp-for="Owner.LastName" />
            <div>
                <span asp-validation-for="Owner.LastName" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div>
            <label asp-for="Owner.PhoneNumber"></label>
            <input class="form-control" type="text" asp-for="Owner.PhoneNumber" />
            <div>
                <span asp-validation-for="Owner.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <br>
        <div>
            <label asp-for="Owner.Email"></label>
            <input class="form-control" type="text" asp-for="Owner.Email" />
            <div>
                <span asp-validation-for="Owner.Email" class="text-danger"></span>
            </div>
        </div>
    </div>
    <button class="btn" type="submit">Zapisz</button>
</form>